<html data-ng-app="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Password</title>
    <script type="text/javascript" src="javascript/js_common.js"></script> 
    <link rel="stylesheet" href="css/style_common.css">
    <link rel="stylesheet" href="css/accesspassword.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
     
<body>  
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="main" style="margin-left:300px;margin-top:43px;">
  <header class="container" style="padding-top:22px">
    <h3><b><i class="fa fa-dashboard fa-fw"></i> Access Password</b></h3>
  </header>    
      <div class="cont">
      <div class="input-icons">
        <i class="fa fa-search xlarge" style="font-size: 25px;"></i>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for UserName" title="Type in a name">
      </div>
    <% if (allpasswords.length > 0) { %>
    <ul id = "myUL">
        <% allpasswords.forEach(pass => { %>
        <li><a href="#"> 
            <div class="main" style="float: left; width: 50%; font-size: 20px;">
              <%= pass.password_category %> </div>
            <div class ="sub" style="float: right; widows: 50%;">
              
              <button class="view" id=<%= pass._id%> onclick="showform(this.id,1)"> View details</button>
                <div id="prompt-form-container">
                      <form id="prompt-form">
                      <div id="prompt-message"></div>
                      <input type="password" name = "text">
                      <input type="submit" value="Ok">
                      <input type="button" name="cancel" value="Cancel">
                      </form>
                </div>
              <button class="del" id= <%= pass._id %> onclick="showform(this.id,2)"><i class="fa fa-trash" 
                style="color: red; " > Delete</i></button></div><br><br>
              </a></li>
              <div class = "w3-hide w3-red" id = div_<%= pass._id %> >
                <div class="details">
                <div class="details-head">
                  <p >Details</p>
                </div>
                <div class="details-body">
                <div>
                <p style="display: inline-block; ">Username:</p> &nbsp;&nbsp;
                <p style="display: inline-block;"> <%= pass.username_a %></p>
              </div>
              <div>
                <p style="display: inline-block;">Password Hint:</p>&nbsp;&nbsp;
                <p style="display: inline-block;"> <%= pass.password_hint %></p>
              </div>
              <div>
                <p style="display: inline-block; ">Password:</p>&nbsp;&nbsp;
                <p style="display: inline-block;"> <%= decrypt(pass.password_a) %></p>
              </div>
            </div>
            </div>
              
            </div>
            
        <% }) %>
      </ul>
      <% } else { %>
        <p>There are no passwords to display...</p>
      <% } %>
      
</div>
</div>
</body>
<script type="text/javascript" src="javascript/accesspassword.js"></script> 

</html>