<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Account History</title>
        <!-- <link rel="stylesheet" href="css/welcome.css"> -->
        <script type="text/javascript" src="javascript/js_common.js"></script>
        <link rel="stylesheet" href="css/style_common.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="javascript/accounthistory.js"></script> 

      </head>
<body>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="main" style="margin-left:300px;margin-top:43px;">
    <header class="container" style="padding-top:1px">
        <h3><b><i class="fa fa-history fa-fw"></i>Complete Account History</b></h2>
    </header>
    <div class="panel">
        <div class="row-padding" style="margin:0 -16px">
          <div class="twothird">
            <table class="table striped white">
              <% if (userobj.history.length > 0) { %>
                <% userobj.history.reverse().forEach(his => { %>
                  <tr>
                    <td><i class="fa fa-user text-blue large"></i></td>
                    <td><%= his.event%></td>
                    <td><i><%= moment(his.time).format("DD MMMM, YYYY")%><br> <strong>Time</strong> <%= moment(his.time).format("HH:mm:ss")%></i></td>
                  </tr>
                    
                <% }) %>
              <% } else { %>
                <p>Sorry no History Recorded...</p>
              <% } %>
            </table>
          </div>
        </div>
      </div>

</div>
</body>
</html>